body { background-color: #0A0A0A; background-repeat: repeat; background-position: top left; background-attachment: scroll; }
#wrapper{width:80%;display:block;overflow:hidden;margin:0 auto;padding:0;}
#main_area {
	background-color: #fff;
	width: 100%;
}

#header_area{
	background-color:#EAE1D5;
	height:200px;
}

#logo_area{
	background-color:#EAE1D5;
	height:200px;
	width:30%;	
	float:left;
	text-align:center;
}

#banner_area{
	background-color:#015EE6;
	height:200px;
	width:70%;	
	float:left;
}

#banner_area img{
	
	height:200px;
	width:100%;	
	float:left;
}

#menu_area{
	background-color:#171754;
	height:auto;
	width:100%;
	display:block;
	overflow:hidden
}

.menu ul{margin:0;padding:0;list-style:none}
.menu ul li{float:left;}
.menu ul li a {
	display: block;
	text-decoration: none;
	padding: 12px 24px;
	color: #ffffff;
	font-size: 14px;
	margin: 0px 15px 0px 1px;
	transition: 0.8s;
}
.menu ul li a:hover {
 background-color: #ffffff;
  color: #323232;
	 
}



#slider_area{
	background-color:#ffffff;
	height:auto;
	width:100%;
}

#slider_area img{
	background-color:#ffffff;
	height:auto;
	width:100%;
}
#content_area {
	background-color: #ffffff;
	height: auto;
	width: 100%;
	overflow: hidden;
}

#left_content {
	background-color: #ffffff;
	height: auto;
	width: 67%;
	float: left;
	padding: 10px;
	overflow: hidden;
	display: block;
}
#left_content img {
	float: left;
	width: 270px;
	height: auto;
	margin-right: 15px;
	margin-bottom: 5px;
	border: 3px solid #C3CFDB;
}

#left_content p {
	float: left;
	font-size: 17px;
	line-height: 22px;
	padding: 6px;
}


#right_content {
	background-color: #171754;
	height: auto;
	width: 30%;
	float: left;
	margin-top: 33px;
	margin-left: 10px;
}

.sidebar{}
.sidebar ul{margin:0;padding:0;list-style:none}
.sidebar ul li{float:none;}
.sidebar ul li a {
	display: block;
	text-decoration: none;
	padding: 13px;
	color: #ffffff;
	font-size: 15px;
	transition: 0.9s;
}
.sidebar ul li a:hover {
 background-color: #174786;
  color: #ffffff;
	 
}

#footer_area{
	background-color:#312F2C;
	height:50px;
	width:100%;
	float:left;
	display:block;
	overflow:hidden
}

#footer_area p{
	text-align:center;
	font-size:13px;
	color:#ffffff;
}
